<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Detail
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-icon name="beer" slot="start"></ion-icon>
              hibou
            <div class="item-note" slot="end">
              2€
            </div>
          </ion-item>
    </ion-list>
    
</ion-content>
<ion-footer>
    <ion-item routerLink="/list/">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-item>
  </ion-footer>
