<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Happy Beer !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Starters !</ion-card-subtitle>
        <ion-card-title>Welcome to Happy Beer !</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your drunked app has been created, you'll want to start drinking our beers and eat our starters. Check out the menu propositions !</p>
      </ion-card-content>
    </ion-card>
</ion-content>
